html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

header .header {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

header nav {
    margin-left: auto;
    padding: 1rem 0;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.main {
    background-color: #1f2937;
    padding: 6rem 0 7rem;
}

.main .content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.main .hero {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 1rem 0;
}

.hero button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    align-self: start;
}

.main img {
    flex: 1 0 0px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 3rem 0 7rem;
}

.info .content {
    width: 70%;
    margin: auto;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 2rem;
}

.info .images {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.info figure {
    flex: 0 1 0px;
    display: flex;
    flex-direction: column;
}

.images img {
    width: 180px;
    border: .5rem solid #3882f6;
    border-radius: 1rem;
}

.images figcaption {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 6rem 0 5rem;
}

.quote figure {
    max-width: 800px;
    width: 70%;
    margin: 0 auto;
}

.quote blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote figcaption {
    text-align: right;
    padding-right: 2rem;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1rem;
}

.action .content {
    width: 70%;
    max-width: 800px;
    margin: 4.5rem auto;
    padding: min(5%, 3rem) min(5%, 5rem);
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.message h3 {
    color: #f9faf8;
    font-size: 20px;
}

.message p {
    color: #e5e7eb;
}

.action button {
    background-color: inherit;
    color: #f9faf8;
    border: 2px solid currentcolor;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

footer {
    background-color: #1f2937;
    padding: 2rem 0;
}

footer p {
    color: #f9faf8;
    text-align: center;
    padding: 0 5%;
}

footer span {
    white-space: nowrap;
}