@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 1vh 10vw;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2.5vw;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 10vw;
}

.hero .main {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 16px;
}

.hero .main .text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero .secondary {
    font-weight: 18px;
    color: #e5e7eb;
}

.hero picture {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    color: #e5e7eb;
}

.hero button {
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}