@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 1vh 10vw;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2.5vw;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}